<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
   <!--- {% if messages %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}-->
    <form name="first" action="" method="post">
        {% csrf_token %}
        <input type="name" name="name" id="testing" placeholder="name" formControlName="Pretesting">
        <p id="test"></p>
        
    </form>

<!--<script>
    let test=document.getElementById("testing");
    let limit=80;
    test.addEventListener("input",function(){
        let textLength=test.value.length;
        if(textLength>limit){
            document.getElementById("test").innerHTML="youhave reached to max number of valid input"
        }
        
    })-->
</script>
</body>
</html>